@{
    ViewBag.Title = "Strona domowa";
}

<br /><br /><br /><br />

<div class="jumbotron">
    <h2>Kontobit - Bitcoiny w Twoim Kontomierzu</h2>
    <p class="lead">
        Kontobit pozwala importować transakcje i stan Twoich portfeli Bitcoin, abyś mógł trzymać rękę na pulsie swoich
        wirtualnych finansów.
    </p>
</div>